*{
    background-color:black;
    color:red;
}
nav{ 
    color: white;
    height: 130px;
    background-color: rgb(17, 1, 1);
   

}
h1{
    margin-top:15px;
    font-size:40px;
    background-color: rgb(17, 1, 1);
    text-align: center;
} 
h2{ 
     background-color: rgb(17, 1, 1);
    text-align: center;
    font-style: italic;
   margin-top:-20px;
   background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
  background-clip: text; 
  -webkit-text-fill-color: transparent;
}
#hub{
    color: black;
    background-color: hsl(60, 100%, 50%);
    border: 1px solid hsl(60, 100%, 50%);
    border-radius: 8%;
}
.navlist{
      display: flex;
      flex-direction: row;
      gap: 2rem;
      justify-content: center;
      
}
.navlist #btn{
text-decoration: none;
      border: none;
      background:none;
      cursor: pointer;
      color:white;
      text-decoration: underline;
}
.navlist #btn:hover{
    color:grey;
    opacity:0.5;
}
header{
    margin-top: 30px;
    background-color:rgb(56, 0, 0);
    height:16rem;
    border: 1px solid blue;
    border-radius: 3%;
    display:inline-block;
    animation: borderCycle 1s infinite alternate;
}

@keyframes borderCycle {
    from {
        border-color: blue;
    }
    to {
        border-color: red;
    }
}
     
.mia{
    display:flex;
    gap:2rem;
    margin-top: 25px;
    background: none;
    
}
.miaimage{
    border:1px solid black;
    border-radius: 5%;
     object-fit: cover;
     margin-left:2rem ;
}
 #miafantasy{
    background: none;
 }
 #miafantasy p{
    margin-right:34px;
    background: none;
    font-style: oblique;
      background: linear-gradient(
    270deg,
    #FFD700,
    #FFA500,
    #FFFACD,
    #FFD700
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 4s linear infinite;
}

@keyframes shine {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
 }
 .ludo:hover{
    cursor:pointer;
 }
